pandas
polars
scikit-learn
pyarrow
xgboost
lightgbm
catboost
torch  # for GPU detection
numpy
openmeteo-requests
requests-cache
retry-requests
polars
holidays
psutil
matplotlib
seaborn
plotly
joblib
optuna
# GNN dependencies
torch-geometric
torch-geometric-temporal
torch-sparse
torch-scatter
torch-cluster